// Place all the styles related to the business controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-index-photo {
  height: 200px;
  width: 200px;
  border-radius: 4px;
}

.business-item {
  display: inline-block;
  text-decoration: none;
  width: 610px;
  height: 210px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 24px;
  margin: 24px 0;
}

.business-item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #0000001a;
  transition: box-shadow 0.3s;
}

.business-item:active {
  background-color: #ebebeb;
  transition: background-color 0.2s;
}

.business-item-container {
  display: flex;
}

.business-item-title-container {
  display: block;
}

.business-item-title {
  display: block;
  font-weight: bold;
  color: rgba(45, 47, 47, 1);
  font-size: 20px;
  margin: 5px 0 10px 20px;
}

.business-item-details {
  display: flex;
  margin-left: 20px;
}

.business-item-category {
  box-sizing: border-box;
  padding: 4px;
  border-radius: 4px;
  height: 20px;
  background-color: rgba(240, 240, 240, 1);
  font-size: 12px;
  font-weight: 400;
  font-weight: bold;
  color: rgba(110, 112, 114, 1);
}

.business-item-price {
  font-size: 14px;
  font-weight: 400;
  color: rgba(110, 112, 114, 1);
  margin-left: 5px;
  margin-top: 3px;
}

.business-show-title {
  color: white;
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.4px;
  white-space: nowrap;
  margin-left: 55px;
  margin-top: 200px;
}

.business-show-details, .business-show-hours {
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-left: 55px;
  margin-top: 10px;
  margin-bottom: 5px;
}


.business-show-photo {
  display: flex;
  position: absolute;
  top: 0;
  z-index: -999;
}
