// Place all the styles related to the business controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-index-list {
  list-style: upper-alpha;
}

.business-index-photo {
  height: 200px;
  width: 200px;
  border-radius: 4px;
  object-fit: cover;
  margin-top: 3px;
}

.business-item {
  display: inline-block;
  text-decoration: none;
  width: 50%;
  min-width: 660px;
  max-width: 680px;
  height: 205px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 24px;
  margin: -16px 35px;
}

.business-item:first-child {
  margin-top: 40px;
}

.business-item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #0000001a;
  transition: box-shadow 0.3s;
}

.business-item:active {
  background-color: #ebebeb;
  transition: background-color 0.2s;
}

.business-item-container {
  display: flex;
}

.business-item-title-container {
  display: block;
}

.business-item-title {
  display: block;
  font-weight: bold;
  color: rgba(45, 47, 47, 1);
  font-size: 20px;
  margin: 10px 0 10px 20px;
}

#business-item-rating {
  margin-left: 20px;
  -webkit-appearance: none;
  width: 108px;
  height: 20px;
  background-image: url(star-ratings.png);
}

.business-item-rating-5 {
  background-position: 0px -500px;
}

.business-item-rating-4-5 {
  background-position: 0px -460px;
}

.business-item-rating-4 {
  background-position: 0px -480px;
}

.business-item-rating-3-5 {
  background-position: 0px -420px;
}

.business-item-rating-3 {
  background-position: 0px -440px;
}

.business-item-rating-2-5 {
  background-position: 0px -380px;
}

.business-item-rating-2 {
  background-position: 0px -400px;
}

.business-item-rating-1-5 {
  background-position: 0px -340px;
}

.business-item-rating-1 {
  background-position: 0px -360px;
}

.business-item-details {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}

.business-item-category {
  box-sizing: border-box;
  padding: 4px;
  border-radius: 4px;
  height: 20px;
  background-color: rgba(240, 240, 240, 1);
  font-size: 12px;
  font-weight: 400;
  font-weight: bold;
  color: rgba(110, 112, 114, 1);
}

.business-item-price {
  font-size: 14px;
  font-weight: 400;
  color: rgba(110, 112, 114, 1);
  margin-left: 10px;
  margin-top: 3px;
}

.business-show-title {
  color: white;
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.4px;
  white-space: nowrap;
  margin-left: 55px;
  margin-top: 200px;
}

.business-show-details, .business-show-hours {
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin-left: 55px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.business-item-hours {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  margin-top: 12px;
  margin-left: 20px;
}

.business-item-review-container {
  display: flex;
  margin-left: 10px;
  width: 400px;
  margin-top: 5px;
}

.business-item-review-icon {
  font-size: 12px;
  margin-top: 12px;
}

.business-item-review {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: rgba(110, 112, 114, 1);
  margin-left: 10px;
  margin-top: 10px;
}

.business-show-photos {
  display: flex;
}

.business-show-photo:first-child {
  display: flex;
  position: absolute;
  width: 50%;
  top: 0;
  z-index: -999;
}

.business-show-photo:last-child {
  display: flex;
  position: absolute;
  margin-left: 50%;
  width: 50%;
  top: 0;
  z-index: -999;
}

