button {
  cursor: pointer;
}

.nav-user {
  display: flex;
}

.nav-user-bar {
  display: flex;
}

.nav-bar {
  display: flex;
}

.nav-user-bar-link {
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-left: 30px;
  margin-top: 17px;
}

.nav-bar-link {
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.nav-user-bar-logo {
  filter: drop-shadow(1px 0 0 white) 
  drop-shadow(0 1px 0 white)
  drop-shadow(-0.5px 0 0 white) 
  drop-shadow(0 -0.5px 0 white);
  margin-top: 12px;
}

.nav-bar-logo {
  filter: drop-shadow(1px 0 0 white) 
  drop-shadow(0 1px 0 white)
  drop-shadow(-0.5px 0 0 white) 
  drop-shadow(0 -0.5px 0 white);
}

.nav-user-logout {
  display: flex;
  margin-top: 10px;
  font-size: 14px;
  z-index: 1000;
}

.nav-user-welcome {
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
  white-space: nowrap;
}

.nav-user-button {
  color: white;
  border: hidden;
  font-size: 14px;
  font-weight: 700;
  background: none;
  text-decoration: none;
  padding: 7px 15px 8px 15px;
  white-space: nowrap;
  margin-top: 2px;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
  padding: 10px;
  top: 0;
}

.nav-businesses {
  color: white;
  display: block;
  font-size: 14px;
  font-weight: 700;
  background: none;
  margin-right: 10px;
  margin-top: 5px;
  text-decoration: none;
  padding: 7px 15px 8px 15px;
}

.nav-businesses {
  color: white;
  font-size: 14px;
  font-weight: 700;
  background: none;
  text-decoration: none;
  padding: 7px 15px 8px 15px;
  margin-left: -7%;
}

.nav-login-signup {
  display: flex;
  height: 33px;
  margin-right: 5%;
  white-space: nowrap;
}

.nav-login{        
  color: white;
  font-size: 14px;
  font-weight: 700;
  background: none;
  text-decoration: none;
  padding: 7px 15px 8px 15px;
}

.nav-login:hover, .nav-businesses:hover, .nav-user-button:hover{ 
  padding: 7px 15px 5px 15px;
  border-bottom: 2px solid white;
}

.nav-login:active, .nav-businesses:active, .nav-user-button:active {
  color: #999;
  border-bottom: 2px solid transparent;
}

.nav-signup {
  color: white;
  font-size: 14px;
  font-weight: 700;
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 7px 22px 6px 22px;  //top right bottom left
  text-decoration: none;
}

.nav-signup:hover {
  background: #fff;
  color: #666;
  transition: all 0.6s;
}

.nav-signup:active {
  background: #fff;
  color: #999;
}

.red-nav {
  display: block;
  height: 55px;
  width: 100%;
  background-color: #d23232;
  top: 0;
}