button {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}

.nav-businesses {
  color: white;
  display: block;
  font-size: 14px;
  font-weight: 700;
  background: none;
  margin-right: 10px;
  text-decoration: none;
  padding: 7px 15px 8px 15px;
}

.nav-login-signup {
  display: inline-block;
}

.nav-login {        
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  background: none;
  margin-right: 10px;
  text-decoration: none;
  padding: 7px 15px 8px 15px;
}

.nav-login:hover { 
  padding: 7px 15px 5px 15px;
  border-bottom: 2px solid white;
}

.nav-login:active {
  color: #999;
  border-bottom: 2px solid transparent;
}

.nav-signup {
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 7px 22px 8px 22px;  //top right bottom left
  text-decoration: none;
}

.nav-signup:hover {
  background: #fff;
  color: #666;
  transition: all 0.6s;
}

.nav-signup:active {
  background: #fff;
  color: #999;
}


