body {
  background-color: tan;
}

button {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.nav-login {        
  color: white;
  display: block;
  font-size: 14px;
  font-weight: 700;
  background: none;
  margin-right: 10px;
  text-decoration: none;
  padding: 7px 15px 8px 15px;
}

.nav-login:hover {    //fix hover hitbox
  padding: 7px 15px 5px 15px;
  border-bottom: 2px solid white;
}

.nav-signup {
  color: white;
  display: block;
  font-size: 14px;
  font-weight: 700;
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 7px 22px 8px 22px;  //top right bottom left
  text-decoration: none;
}


