.bg {
  display: flex;
  position: absolute;
  top: 0;
  opacity: 0.80;
  z-index: -1000;
  width: 100vw;
  min-width: 830px;
  height: auto;
  filter: brightness(70%);
}

.splash-nav #hidden{
  visibility: hidden;
}

#hidden-bus {
  margin-right: 60%;
}

.splash-logo {
  cursor: pointer;
  display: flex;
  position: relative;
  justify-content: center;
  // margin-left: 43%;
  vertical-align: baseline;
  padding: 12px 0;
  margin-top: 40px;
}

.splash-logo-link {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: black;
  margin-top: 46px;
  font-size: 46px;
  filter: drop-shadow(3px 0 0 white) 
    drop-shadow(0 3px 0 white)
    drop-shadow(-2px 0 0 white) 
    drop-shadow(0 -2px 0 white);
  font-family: Poppins;
  letter-spacing: 0.2px;
}

.logo-2 {
  margin-top: 44px;
  filter: drop-shadow(2px 0 0 white) 
        drop-shadow(0 2px 0 white)
        drop-shadow(-1.5px 0 0 white) 
        drop-shadow(0 -1.5px 0 white);
}

.splash-best-bus {
  display: flex;
  position: relative;
  white-space: nowrap;
  font-size: 21px;
  font-weight: 700;
  color: #d32323;
  justify-content: center;
  margin-top: 320px;
  z-index: 999;
}

.block {
  display: flex;
  position: absolute;
  margin-top: 275px;
  width: 100vw;
  height: 330px;
  z-index: 996;
  background-color: #f5f5f5;
}

.splash-best-bus-list {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 20px;
}

.splash-best-bus-item {
  height: 174px;
  width: 200px;
  border: 1px solid #999;
  border-radius: 3px;
  color: #666;
  margin: 10px;
  z-index: 999;
  text-align: center;
  padding-top: 10px;
}

.block-2 {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 510px;
  z-index: 997;
  margin-top: 30px;
  background-color: white;
}

.splash-welp-la {
  display: flex;
  position: relative;
  white-space: nowrap;
  font-size: 21px;
  font-weight: 700;
  color: #d32323;
  justify-content: center;
  margin-top: 70px;
  z-index: 999;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

.splash-hot-new {
  display: flex;
  position: relative;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
  color: #d32323;
  justify-content: center;
  margin-top: 30px;
  z-index: 999;
}

.splash-hot-new-list {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 10px;
}

.splash-hot-new-item {
  display: block;
  height: 174px;
  width: 250px;
  height: 250px;
  color: #666;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin: 10px;
  z-index: 999;
  text-align: left;
  padding-top: 10px;
  text-decoration: none;
}

.splash-hot-new-item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #0000001a;
  transition: box-shadow 0.3s;
}

.block-3 {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 200px;
  z-index: 997;
  margin-top: 50px;
  background-color: #f5f5f5;
}

.splash-about-discover {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  margin: 100px 20px 15px 40px;
  margin-left: 25%;
}

.splash-about, .splash-discover {
  z-index: 999;
}

.splash-discover {
  margin-left: 52%;
}

.splash-about-title, .splash-discover-title {
  margin-bottom: 15px;
}

.splash-discover-links {
  display: block;
}

.splash-discover-link {
  margin-bottom: 20px;
}

.splash-about-link, .splash-discover-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  color: rgba(110,112,114,1);
}

.splash-discover-link-2 {
  margin-top: 8px;
}

.hot-new-pic-1 {
  margin-top: -10px;
  width: 250px;
  height: 180px;
  background-image: url(MilkJar);
  background-position: -20px;
}

.hot-new-pic-2 {
  margin-top: -10px;
  width: 250px;
  height: 180px;
  background-image: url(wood);
  background-position: -15px -25px;
}

.hot-new-pic-3 {
  margin-top: -10px;
  width: 250px;
  height: 180px;
  background-image: url(masa);
  background-position: -10px -160px;
}

.hot-new-pic-info {
  padding: 10px;
  margin-top: 5px;
}

.hot-new-info-title {
  font-size: 15px;
  font-weight: 700;
  color: #0073bb;
}

.hot-new-info-title:hover {
  text-decoration: underline;
}
