.bg {
  display: flex;
  position: absolute;
  top: 0;
  opacity: 0.8;
  z-index: -1000;
  width: 100vw;
  min-width: 800px;
  height: auto;
  filter: brightness(75%);
}

.splash-logo {
  cursor: pointer;
  display: flex;
  position: absolute;
  margin-left: 42%;
  width: 100%;
  vertical-align: baseline;
  padding: 12px 0;
}

.splash-logo-link {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: black;
  margin-top: 45px;
  font-size: 50px;
  filter: drop-shadow(3px 0 0 white) 
    drop-shadow(0 3px 0 white)
    drop-shadow(-2px 0 0 white) 
    drop-shadow(0 -2px 0 white);
}

.logo-2 {
  margin-top: 44px;
  filter: drop-shadow(2px 0 0 white) 
        drop-shadow(0 2px 0 white)
        drop-shadow(-1.5px 0 0 white) 
        drop-shadow(0 -1.5px 0 white);
}

.splash-best-bus {
  display: flex;
  position: relative;
  white-space: nowrap;
  font-size: 21px;
  font-weight: 700;
  color: #d32323;
  justify-content: center;
  margin-top: 500px;
  z-index: 999;
}

.block {
  display: flex;
  position: absolute;
  margin-top: 460px;
  width: 100%;
  height: 280px;
  z-index: 998;
  background-color: #ececec;
}

.splash-best-bus-list {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 10px;
}

.splash-best-bus-item {
  height: 174px;
  width: 200px;
  border: 1px solid #999;
  border-radius: 3px;
  color: #666;
  margin: 10px;
  z-index: 999;
  text-align: center;
  padding-top: 10px;
}

.block-2 {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 997;
  margin-top: 20px;
  background-color: white;
}

.splash-welp-la {
  display: flex;
  position: relative;
  white-space: nowrap;
  font-size: 21px;
  font-weight: 700;
  color: #d32323;
  justify-content: center;
  margin-top: 50px;
  z-index: 999;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

.splash-hot-new {
  display: flex;
  position: relative;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
  color: #d32323;
  justify-content: center;
  margin-top: 30px;
  z-index: 999;
}

.splash-hot-new-list {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 10px;
}

.splash-hot-new-item {
  height: 174px;
  width: 250px;
  height: 250px;
  color: #666;
  border: 1px solid #999;
  border-radius: 3px;
  margin: 10px;
  z-index: 999;
  text-align: center;
  padding-top: 10px;
}
